html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

a:hover {
	color: #FFA987;
	transition: .2s linear;
}

/* INDEX PAGE */

#navbar {
	width: 100%;
	height: 100px;
	font-family: 'Gotham', book;
}

.navbar-item {
	display: inline-block;
	margin-top: 60px;
	margin-left: 40px;
	text-decoration: none;
	padding-bottom: 3px;
    transition: .2s linear;
    color: #939393;
}

.navbar-item:hover {
	border-bottom: 1.5px solid currentColor;
	cursor: pointer;
	transition: .2s linear;
}

#current-navbar-item {
	color: #3f3f3f;
	border-bottom: 2px solid currentColor;
}

#email-navbar-item {
	color: #FFA987;
	float: right;
	margin-right: 50px;
}

#email-navbar-item:hover {
	border: none;
	cursor: default;
}

#body-content {
}

#intro {
	font-family: 'Gotham', bold;
	font-weight: 800;
	font-size: 34px;
	margin-top: 10%;
	margin-left: 55%;
}

#footer {
	position: absolute;
	width: 100%;
	height: 40px;
	margin-bottom: 30px;
	font-family: 'Gotham', book;
	bottom: 0;
	z-index: 5;
	background-color: white;
}

.footer-item {
	font-size: 14px;
	display: inline-block;
	margin-left: 20px;
	text-decoration: none;
    color: #3f3f3f;
}

.footer-icon {
	font-size: 14px;
	display: inline-block;
	float: right;
	margin-right: 20px;
	text-decoration: none;
    color: #3f3f3f;
}

/* ABOUT PAGE */

#emily-pic {
	width: 25%;
	object-fit: cover;
	margin: 50px;
	margin-top: 0;
	margin-left: 50%;
	margin-bottom: 40px;
	transform: translate(-50%, 0);
}

.about-content {
	font-family: 'Gotham', book;
	line-height: 1.6;
	height: 80vh;
	overflow: scroll;
	color: #3f3f3f;
}

#left-side {
	margin-top: 3%;
	width: 40%;
	height: 58%;
	float: left;
	overflow: auto;
}

#right-side {
	margin-top: 3%;
	width: 60%;
	height: 58%;
	float: left;
	font-size: 14px;
}

#description {
	padding: 20%;
	padding-top: 0;
	padding-right: 10%;
	padding-bottom: 0;
}

#description-title {
	font-weight: 800;
	font-size: 18px;
}

#experience-wrapper {
	margin: 10%;
	margin-top: 0;
	margin-left: 5%;
}

.experience-item {
	margin-bottom: 40px;
}

.experience-date {
	color: #939393;
	/*font-family: 'Optima';*/
	font-size: 16px;
}

.experience-title {
	/*font-family: 'Optima';*/
	font-weight: 600;
	font-size: 18px;
}

.link {
	text-decoration: none;
	color: #3f3f3f;
	background-color: #FFEDE7;
	transition: .2s linear;
}

.link:hover {
	background-color: white;
	transition: .2s linear;
}

